{% extends 'Fishel/index.html' %}
<!--  -->
<!--  -->
<!--  -->

{% block contents %}
<div class="container">
  <header class="hero">
    <nav>
      <div class="nav-cont">
        <div class="logo">
          <img
            src="https://res.cloudinary.com/do2t27qdc/image/upload/v1666969176/FISHEL%20IMAGES/Vector_f2zgjh.png"
            alt="Fishel-Logo"
          />
          <p>Fishel</p>
        </div>

        <div class="call">
          <button class="btn1">Sign Up</button>
          <button class="btn2">Login</button>
        </div>
      </div>
    </nav>
    <!-- Hero Text -->
    <div class="hero-text">
      <h1>"Lorem ipsum dolor amet, consectetur adipiscing , sed do eiusmod.</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus praesent
        amet ipsum lacus libero at.
      </p>
      <div class="CTA">
        <button class="btn-1">Start Answering Questions</button>
        <button class="btn-2">Start Answering Questions</button>
      </div>
    </div>
  </header>

  <main>
    <!-- Second Container -->
    <div class="sec-cont">
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quisUt enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dol
      </p>
      <img
        src="https://res.cloudinary.com/do2t27qdc/image/upload/c_scale,w_1120/v1666969181/FISHEL%20IMAGES/pexels-pavel-danilyuk-8423092_b9fxjf.png"
        alt=""
      />
    </div>

    <div class="third-cont">
      <div class="content1">
        <h1>Features</h1>
        <ul>
          <li>
            Practise related examination questions both essay and objective
          </li>
          <li>Make reviews and read other teachers reviews on any subject</li>
          <li>Access to textbook and other related materials</li>
          <li>Step by step guide on answering questions as relating</li>
          <li>Checking on your preparation for your exams</li>
        </ul>
      </div>
      <div class="content2">
        <img
          src="https://res.cloudinary.com/do2t27qdc/image/upload/v1666969178/FISHEL%20IMAGES/pexels-yan-krukov-8617837_1_gs9cpr.png"
          alt=""
        />
        <img
          src="https://res.cloudinary.com/do2t27qdc/image/upload/v1666969179/FISHEL%20IMAGES/pexels-oladimeji-ajegbile-2380263_1_xdnrcg.png"
          alt=""
          class="img-2"
        />
      </div>
    </div>

    <!-- Fourth-container -->
    <div class="fourth-cont">
      <h2>Testimonies</h2>
      <img
        src="https://res.cloudinary.com/do2t27qdc/image/upload/v1666969182/FISHEL%20IMAGES/pexels-kampus-production-5940837_1_nsheqy.png"
        alt=""
      />
      <p class="lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labo etdolore magna aliqua. Ut enim ad minim
        veniam, quisUt enim ad minim veniam, quis nostrud
      </p>
      <p class="sm">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quisUt enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dol
      </p>
    </div>
  </main>
</div>
{% endblock contents %}
